.App {
  height: 100vh;
  background-color: #0d1116;
  overflow: scroll;
  text-align: center;
}

.container {
  height: 100vh;
  width: 100vw;
  /* background-color: #0d1116; */
  background: linear-gradient(to left top, #2278fb, #6bdfdb);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header-container {
  padding-top: 30px;
  background: white;
  min-height: 70vh;
  width: 60%;
  background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  z-index: 9;
  backdrop-filter: blur(2rem);
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.065), 0 2px 2px hsl(0deg 0% 0% / 0.065), 0 4px 4px hsl(0deg 0% 0% / 0.065), 0 8px 8px hsl(0deg 0% 0% / 0.065), 0 16px 16px hsl(0deg 0% 0% / 0.065);
}

.circle1, .circle2 {
  background: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, .7), rgba(255, 255, 255, 0.1));
  height: 20rem;
  width: 20rem;
  position: absolute;
  z-index: 3;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.065), 0 2px 2px hsl(0deg 0% 0% / 0.065), 0 4px 4px hsl(0deg 0% 0% / 0.065), 0 8px 8px hsl(0deg 0% 0% / 0.065), 0 16px 16px hsl(0deg 0% 0% / 0.065);
}

.circle1 {
  top: 5%;
  left: 10%;
}

.circle2 {
  right: 15%;
  bottom: 10%;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: url(https://i.ibb.co/k5VN5y1/wave.png);
  background-size: 1000px 100px;
  z-index: 2;
}

.wave1 {
  animation: animate 30s linear infinite;
  -webkit-animation: animate 30s linear infinite;
  z-index: 3;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

.wave2 {
  animation: animate2 15s linear infinite;
  -webkit-animation: animate2 15s linear infinite;
  z-index: 4;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

.wave3 {
  animation: animate 5s linear infinite;
  -webkit-animation: animate 5s linear infinite;
  z-index: 5;
  opacity: 0.7;
  animation-delay: -2s;
  bottom: 20px;
}

.wave4 {
  animation: animate2 30s linear infinite;
  -webkit-animation: animate2 30s linear infinite;
  z-index: 6;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

.header {
  margin: 0 0 15px 0;
  font-size: 50px;
  font-weight: bold;
}

.sub-text {
  font-size: 25px;
  color: #000000;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #60c657, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  -webkit-animation: gradient-animation 4s ease infinite;
}

.mint-button {
  background: -webkit-linear-gradient(left, #a200d6, #ff6fdf);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-right: 15px;
}

.opensea-button {
  padding: 13px;
  background: transparent;
  border: 2px solid rgb(32, 129, 226);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  text-decoration: none;
  color: rgb(32, 129, 226);
  position: relative;
}

.opensea-logo {
  position: relative;
  width: 25px;
  height: 25px;
  top: 5px;
  right: 2px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  z-index: 7;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}

/* KeyFrames */

@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}